@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
  margin: 0;
  padding: 0;
  
  /* Size Variables */

  /* Color Variables */

  /* Text Decorations */
  font-family: "Righteous", cursive;
  text-decoration: none;
  color: #ffffff;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb:hover { background-color: rgb(187, 187, 187); }
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(63, 63, 63);
}

p, a, img, video, h1 {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body { background-color: #121212; }

body > p {
  display: flex;
  justify-content: center;
  font-size: 100px;
  background-color: #000000;
}

h1 {
  font-size: 5em;
  color: #dedede;
  text-align: center;
}

.boxedtxt {
  margin: 0 10px;
  text-align: left;
  border: solid #343434;
  border-radius: 16px 16px 0 16px;
  padding: 1em 2em;
  font-size: 28px;
}

.longbox {
  max-width: 1100px;
  background-color: #0a0a0a;
  border-radius: 16px;
}

.multiplevideo {
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.deleterightborder {
  border-radius: 16px 0 0 16px;
  border-right: none;
}

.gray { color: #505050; }

nav {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-size: 22px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 9;
}

nav > * { margin: 0 16px; }

nav > a {
  text-transform: uppercase;
  font-size: 18px;
}

nav .socials {
  position: absolute;
  display: flex;
  padding: 4px 0;
  margin-left: -8px;
  border-radius: 999px;
  background-color: #303030;
  align-items: center;
}

nav .shareopen { margin: 0 16px 0 8px; }

nav .socials a:not(.shareopen) img {
  height: 22px;
  display: flex;
  align-self: center;
}

nav .socials a { margin: 0 4px; }
nav .socials a:last-child { margin-right: 16px; }


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.longbox { margin-bottom: 16px; }

.longbox > div {
  display: flex; 
  flex-direction: row;
  margin-bottom: 16px;
  margin: 16px 0;
}

.longbox div > p {
 flex: 1;
 font-size: 25px;
}

.longbox video {
 flex: 1;
 width: 30%;
}

.longbox > .story, .software { flex-direction: column !important; }

.aboutme { 
  display: flex; 
  flex-direction: row;
  margin-top: 0 !important;
}

.aboutme p {
  width: 600px;
  padding: 1em 2em;
  margin: 16px 0 0 10px;
  font-size: 30px;
}

.aboutme > img {
  height: 400px;
}

.software .boxedtxt { text-align: center; }

.multiplevideo video { width: 100%; }

.multipleimg { 
  flex: 1;
  display: flex;
  flex-direction: column; 
  width: 60%;
}



.btngamejolt > img {
  height: 20px;
}

.btnyoutube>img {
  height: 20px;
}

.divgame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  margin: 25px;
}

.Vdod {
  justify-content: center;
  display: flex;
}

.videotext {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.videotext > p {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  text-align: left;
  border: solid #343434;
  border-radius: 20px 0 0 20px;
  width: 400px;
  padding: 1em 2em;
  justify-content: flex-end;
  border-right: none;
}

.trailenon {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.videoscream {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: all .25s ease;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: all .25s ease;
}

.yeargroup {
  border: 1px solid #121212;
  background-color: #0a0a0a;
  border-radius: 20px;
}

.Videocl,
.allgame {
  gap: 20px;
  margin-top: 20px;
}

.gamecont {
  border: 1px solid #121212;
  background-color: #0a0a0a;
  border-radius: 20px;
  margin: 25px;
}

.textplace {
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}