@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  /* Size Variables */
  /* Color Variables */
  /* Text Decorations */
  font-family: "Righteous", cursive;
  text-decoration: none;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(63, 63, 63);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(187, 187, 187);
}

p, a, img, video, h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: #121212;
}

h1 {
  font-size: 5em;
  color: #dedede;
  text-align: center;
}

/* Templates */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

.fadein {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease;
}

/* END */
longbox {
  max-width: 1100px;
  background-color: #0a0a0a;
  border-radius: 16px;
  margin-bottom: 16px;
}
longbox > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin: 16px 0;
}
longbox > div > p {
  flex: 1;
  font-size: 25px;
}
longbox > div > .download:has(h1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
longbox video {
  flex: 1;
  width: 30%;
  height: fit-content;
  align-self: center;
}
longbox > .story, longbox .software {
  flex-direction: column !important;
}
longbox .boxedtxt {
  margin: 0 10px;
  text-align: left;
  border: solid #343434;
  border-radius: 16px 16px 0 16px;
  padding: 1em 2em;
  font-size: 28px;
}
longbox .boxedtxt .software {
  text-align: center;
}

.multiplevideo {
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.multiplevideo video {
  width: 100%;
}

.multipleimg {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.deleterightborder {
  border-radius: 16px 0 0 16px !important;
  border-right: none !important;
}

.gray {
  color: #505050;
}

.download {
  flex: 1;
  padding: 16px;
}
.download iframe {
  width: 100%;
  margin: 8px 0;
}

nav {
  background-color: #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

nav.desktop {
  display: flex;
  flex-direction: column;
}
nav.desktop subnav {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
}
nav.desktop subnav > * {
  margin: 0 16px;
}
nav.desktop subnav > a {
  text-transform: uppercase;
  font-size: 18px;
}
nav.desktop subnav p.gray {
  font-size: 22px;
}
nav.desktop .shareopen {
  margin: 0 16px 0 8px;
}

nav.phone {
  display: none;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 9;
}
nav.phone > img {
  display: flex;
}
nav.phone > h1 {
  margin: 4px 16px 8px 0;
}
nav.phone subnav {
  display: grid;
  position: absolute;
  top: 64px;
  height: calc(100vh - 80px);
  width: 100%;
  padding-top: 12px;
  background-color: #000000;
  border-top: solid #343434 2px;
}
nav.phone subnav ul {
  list-style: none;
}
nav.phone subnav ul li {
  display: flex;
  align-items: center;
}
nav.phone subnav ul li::before {
  margin: 0 16px;
}
nav.phone subnav ul li:nth-child(1)::before {
  content: url(../image/icon/home.svg);
}
nav.phone subnav ul li:nth-child(2)::before {
  content: url(../image/icon/wind.svg);
}
nav.phone subnav ul li:nth-child(3)::before {
  content: url(../image/icon/box.svg);
}
nav.phone subnav ul li:nth-child(4)::before {
  content: url(../image/icon/home.svg);
}
nav.phone subnav .socials {
  display: flex;
  justify-self: center;
  align-self: self-end;
  width: fit-content;
  height: fit-content;
  padding: 6px 0;
  margin-bottom: 16px;
  border-radius: 999px;
  background-color: #303030;
}
nav.phone subnav .socials a {
  margin: 0 4px;
}
nav.phone subnav .socials a img {
  height: 22px;
  margin-bottom: -4px;
}
nav.phone subnav .socials a:first-child {
  margin-left: 16px;
}
nav.phone subnav .socials a:last-child {
  margin-right: 16px;
}
nav.phone subnav.slideout {
  visibility: hidden;
  height: 0;
  transition: all 0.3s ease;
}
nav.phone subnav.slidein {
  visibility: visible;
  height: calc(100vh - 80px);
  transition: all 0.5s ease;
}

.aboutme {
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
}
.aboutme p {
  width: 600px;
  padding: 1em 2em;
  margin: 16px 0 0 10px;
  font-size: 30px;
}
.aboutme > img {
  height: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav.desktop {
    display: none;
  }
  nav.phone {
    display: flex !important;
  }
  h1 {
    font-size: 2.6rem;
  }
  main {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=style.css.map */
